<h1>Reccomendations for You</h1>

<% @upcoming_comics.each do |ch_obj| %>
	<% if ch_obj["titles"].length > 0 %>
	<div class="textboxes calentry">
	<h3><%= ch_obj["heading"] %></h3>
	<% ch_obj["titles"].each do |title| %>
		<%= title[0].capitalize %> — out on <% Date.parse(title[1]) %><br>
	<% end %>
	</div>
	<% end %>
<% end %>