<h1>My Favorite Super Hero Characters </h1>

      <% @favorites.each_with_index do |favorite, index| %>

<a href = "/favorite/<%= favorite.id %>">
          <div class="i"> 
            <div class= "name-params"><%= favorite["name"] %></div>
             <%= image_tag favorite["image"] %>
            <div id="sub-b"><%= link_to "Delete Hero", favorites_destroy_path(:project => favorite.id), method: :delete %></div></div></a>

      <% end %>