@import "variables";

.calentry {
	width:100% !important;
	min-height: auto !important;
	position: relative;
	padding:0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	margin-bottom:30px;
  background:linear-gradient(to bottom right, white, #f9f59c) !important;
}

.calhead {
	position: absolute;
	top:0;
	border-top-left-radius: 25px !important;
	width:100% !important;
}

.calentry b {
	font-family: $title-font;
}

.callist {
	margin-bottom:5px;
}

.calholder {
	display: flex;
	flex-wrap:wrap;
	padding: 10px 20px;
	font-size:16px;
}