@import "variables";

.carousel-inner {


}

#myCarousel {
	width: 100%;
	text-align:center;
	height: 600px;
	overflow:hidden;
	margin:50px 0;
}

.item img {
	width:100%;
}

.tbsmall {
	width:45% !important;
	margin-bottom:20px;
}