@import "variables";

.images-flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.i{
  box-shadow:10px 10px 20px #dfdce2;
  // #1c0d28 purpulish
  // #f99420 orangish
  // #f9c300 goldish
  // #720000 burgundyish
  // #777777 silverish
  // #777 silvery
  width: 175px;
  height: 175px;
}

h1{
 color:white;
}

.name-params{
  // background-color: GREEN;
  // margin: -40px;
  // text-decoration-line: underline;
  color: $blue;
  font-style:$body-font;
  font-size: 20px;
  margin-left: 20px;
}

#sub-b{
  color:$red;
  font-style:$body-font;
  font-size: 15px;
  margin-top: 20px;
  // background-color: red;
}

#sub-b:hover{
  color: $blue;
  background-color: #f9c300;
}

.field{
  width:170px;
  height: 170px;
  // background-color: gold;
}

.submit1{
  color:silver;
  width: 20px;
  height: 20px;
}
// .bordered {
//    border: solid .5em transparent;
//    box-sizing: border-box;
//    /** relative so that our ::before absolute block can position itself according to it's parent block **/
//    position: relative;
// }
//
// .bordered::before {
//   content: '';
//   border: 1px solid red;
//   /** pseudo-elements are inline by default **/
//   display: block;
//   /** same height and width than our column **/
//   width: 100%;
//   height: 100%;
//   /** position absolute starting at the top and left of our column **/
//   position: absolute;
//   top: 0;
//   left: 0;
//   /** we want the pseudo-element to be behind our real column **/
//   z-index: -1;
// }
body{

	position: relative;

	color: white;

	width: 100%;
	height: 100%;

	background-image: -webkit-gradient(radial, 50% 75%, 0, 50% 75%, 400,
				from(rgba(55,89,138,0.5)), to(rgba(55,89,138,0))),
			-webkit-gradient(linear,left top,left bottom,
				color-stop(0, #3e9ac4),color-stop(0.6, #000000));
	overflow: hidden;
}

body:before{
	position: absolute;
	top: 10%;
	width: 100%;
	height: 150%;
	content: "";

	/* Webkit eliptical gradient*/
	background-image: -webkit-gradient(radial, 50% 35%, 100, 50% 35%, 350,
				from(rgba(255,255,255,0.09)), to(rgba(255,255,255,0)));
	-webkit-transform: scale(1.0,0.3);



}
