@import "variables";

.images-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.i{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow:hidden;
  position: relative;
  margin: 20px;
}

.i img {
  border-radius: 50%;
  border: 10px solid #57a7cc;
  width:175px;
  height:175px;
}
//
// h3 {
//   font-size: 35px;
//   background: -webkit-linear-gradient(#eee, #333);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.name-params{
  // background-color: GREEN;
  // margin: -40px;
  // text-decoration-line: underline;
  border-radius: 25px;
  font-style:$body-font;
  font-size: 15px;
  height: 60px;
  // position: absolute;
  top: 25%;
  text-align:center;
  color: black;
  text-shadow: 2px 2px 4px #7996c6;
  width:175px;
  background:linear-gradient(to bottom right, #bf4040, #f7f271);
  padding:8px;
  font-family: $title-font;
  text-transform: uppercase;
}

a .name-params {
  color: #0f4760;
  letter-spacing: 1px;
  margin-top: 10px;

}

#sub-b{
  color:$blue;
  font-style:$body-font;
  font-size: 15px;
  margin-top: 20px;
  // background-color: red;

// box-shadow: 0 4px 2px 5px gray;
}

#sub-b:hover{
  color: $red;
  background-color: $blue;
}

.field{
  width:175px;
  margin:20px;
  // background-color: gold;
  text-align:center;
}

.field .i {
  margin: 0;
}

.searchfield form {
  display: flex;
  flex-wrap:wrap;
}

.submit1{

  color:#e08618;
  // #db841a
  // position: absolute;
  top: 145px;
  right: 350px;
  width: 175px;
  height: 30px;
  display: block;

}
// h1 {
//    border: solid .5em transparent;
//    box-sizing: border-box;
//    /** relative so that our ::before absolute block can position itself according to it's parent block **/
//    position: relative;
// }
//
// h1:before {
//   content: '';
//   border: 1px solid red;
//   /** pseudo-elements are inline by default **/
//   display: block;
//   /** same height and width than our column **/
//   width: 100%;
//   height: 100%;
//   /** position absolute starting at the top and left of our column **/
//   position: absolute;
//   top: 0;
//   left: 0;
//   /** we want the pseudo-element to be behind our real column **/
//   z-index: -1;
// }
