@import "variables";

.images-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.i{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow:hidden;
  position: relative;
  margin: 20px;
}

.i img {
  border-radius: 50%;
  border: 10px solid white;
  width:175px;
  height:175px;
}

h1{
 color:white;
}

.name-params{
  // background-color: GREEN;
  // margin: -40px;
  // text-decoration-line: underline;
  font-style:$body-font;
  font-size: 17px;
  height: 60px;
  position: absolute;
  top: 25%;
  text-align:center;
  width:175px;
  background-color: rgba(255, 255, 255, 0.6);
  padding:2px 20px;
  font-family: $title-font;
  text-transform: uppercase;
}

a .name-params {
  color: #0f4760;
  letter-spacing: 1px;
}

#sub-b{
  color:$red;
  font-style:$body-font;
  font-size: 15px;
  margin-top: 20px;
  // background-color: red;
}

#sub-b:hover{
  color: $blue;
  background-color: #f9c300;
}

.field{
  width:175px;
  margin:20px;
  // background-color: gold;
  text-align:center;
}

.field .i {
  margin: 0;
}

.searchfield form {
  display: flex;
  flex-wrap:wrap;
}

.submit1{
  // color:silver;
  position: absolute;
  top: 145px;
  left: 350px;
  width: 175px;
  height: 30px;
  display: block;
}
// .bordered {
//    border: solid .5em transparent;
//    box-sizing: border-box;
//    /** relative so that our ::before absolute block can position itself according to it's parent block **/
//    position: relative;
// }
//
// .bordered::before {
//   content: '';
//   border: 1px solid red;
//   /** pseudo-elements are inline by default **/
//   display: block;
//   /** same height and width than our column **/
//   width: 100%;
//   height: 100%;
//   /** position absolute starting at the top and left of our column **/
//   position: absolute;
//   top: 0;
//   left: 0;
//   /** we want the pseudo-element to be behind our real column **/
//   z-index: -1;
// }