@import "variables";

body {
	display: grid;
	grid-template-areas: 'head head head'
		'nav nav nav'
		'. body .';
	grid-template-columns: 1fr 20fr 1fr;
	background-color:$black;
	font-family: $body-font;
}

header {
	grid-area: head;
	background-color: $blue;
	height:80px;
	background: linear-gradient(to right, $blue , $dkblue);
}

nav {
	grid-area: nav;
	background-color: $red;
	background: linear-gradient(to right, $red , $yellow);
	height:40px;
	margin-bottom:15px;
}

#bodycontainer {
	grid-area:body;
	display: flex;
	flex-wrap: wrap;
}