@import "variables";


.characterdetails {

	color: white; 
	text-align: center;
	text-shadow: 2px 2px #FF0000;
	text-decoration: underline;
	// margin-bottom: 5px;
	margin-left: 70px;
	width: 100%;
	border: 2px solid white;
	background-color: $blue;
	background: linear-gradient(to right, $blue , $dkblue);
	position: relative;
	bottom: 50px;

}

.showflex {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.characterdetails h1 {

	// border: 2px solid green;
	font-size: 50px;
	position: relative;

}


.charname {

	color: white;
	height: 40px; 
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-left: 70px;
	font-size: 28px;
	background-color: $red;
	position: relative;
}


.showflex img {
	width: 38%;
	min-width:260px;
	min-height:300px;
	max-height:340px;
	border-radius: 50%;
	// border: 20px solid $black;
}

.upd {
	text-align:right;
}

.charbox1 {
	width: 55%;
	margin-left: 20px;
	font-size: 24px;
}

.charbox1 h3 {

	text-align: center;
	font-size: 30px;

}

.charbox1 h4 {

	color: black;
	font-size: 28px;


}



.charbox2 {
	font-size: 24px;
	text-align: center;
	
}


.charbox2 h3 {

	text-align: center;
	font-size: 30px;
	padding: 0;
	margin:0;

}

.charbox2 h4 {

	color: black;
	font-size: 28px;

}


.deletehero {

	border: 2px solid red;


}





















