$title-font: 'Fjalla One', sans-serif;
$link-font: 'Exo', sans-serif;
$body-font:'Roboto', sans-serif;

$red: #e20000;
$black:#000;
$yellow: #efbf1f;
$blue: #3e9ac4;
$white: #fff;
$dkblue: #3085ad;

$round-img-radius:50%;

